<div class="container">
  <div class="row login-form">
    <div class="col-xs-12 col-sm-2 col-md-3">
      <div class="card" (click)="registrarPaciente()">
        <div class="card-inner">
          <div class="header">
            <h1>Registrarse como <br> paciente</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3">
      <div class="card" (click)="registrarEspecialista()">
        <div class="card-inner">
          <div class="header">
            <h1>Registrarse como especialista</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
